body{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    color: #474647;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

/*header*/
h1{

}
header, footer {
    background-color: #EEB902; 
    margin: 0;
    padding: 0;
}

/*logo size*/
.logo-img img {
    height: 75px;
    padding: 4px;
}

/*menu bar*/
.menu-bar{
 

}

.menu-bar > li{
  list-style-type: none;
  
}

/*header page brief*/
.brief-discrp-sec{
  
}

.imag-sec{
  position: relative;
  left:80px;
  height: 0px;
  padding: 0px;
}
/*footer*/
footer{
 margin-top: 500px;
 position:relative;
 bottom: fixed;
 list-style-type: none;
}

fa-icons > li{
  text-align: center;
  display: inline;
}
/*mobile view*/


/*a tag styling*/
a{

}

a:hover {
    padding-left:5px;
    text-decoration:none;
}

/*form*/

/*Social media icons*/

/*home page content*/


/*services page content*/


/*about us page */