*{
  display: static;
  padding: 0;
  margin: 0;
}
body{
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 350;
} 
/* style the header and footer*/
header, footer{
  background-color: #EEB902;
  text-align: center;
  padding: 20px;
}
/*logo style*/
.logo-img > img{
  height: 450px;
  padding: 20px;
}
/*home page image*/
.header-imag > img{
  position: relative;
  left: 450px;
  border-radius: 20px;
  width: 300px;
  max-width: 100%;
}
/* menu links */
.menu-sec > li {
  position: relative;
  left: 400px;
  text-decoration: none;
  list-style: none;
  padding: 10px 14px;
}
/* change color on hover */
.nav-list a:hover {
  background-color: #468CD8;
  color: #FFF;
}
/*style footer*/
.footer-page-home{
  text-align: center;
  padding: 10px;
}
/*form styling*/
/* about us form */
form{
  border: 2px solid #52A56B;
  width: 450px;
  height: 250px;
}
fieldset{
  border: none;
  margin: 5px;
  padding: 5px;
}
legend{
  font-size: large;
  font-weight: bold;
}
textarea {
  width: 100%;
  height: 50px;
  padding: 12px 15px;
  box-sizing: border-box;
  border: 2px solid #808080;
  border-radius: 4px;
  background-color: #FFF;
  resize: vertical; 
}
input[type="submit"]{
  border: #EEB902;
  background-color: #52A56B;
  border-radius: 2px;
  padding: 2px;
  font-weight: bold; 
  color: #474647;
}