*{
  display: static;
  padding: 0;
  margin: 0;
}
body{
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 350;
} 
/* style the header and footer*/
header, footer{
  background-color: #EEB902;
  text-align: center;
  padding: 20px;
}
/*logo style*/
.logo-img > img{
  position: relative;
  left: 5px;
  height: 450px;
  padding: 20px;
}
/*home page image*/
.header-imag > img{
  position: relative;
  left: 450px;
  border-radius: 20px;
  width: 300px;
  max-width: 100%;
/* menu links */
.nav-list > li {
  position: relative;
  right: 800px;
  text-decoration: none;
  list-style: none;
  padding: 10px 14px;
}
/* change color on hover */
.nav-list a:hover {
  background-color: #468CD8;
  color: #FFF;
}
/*style footer*/
.footer-page-home{
  text-align: center;
  padding: 10px;
}
/*form styling*/
/* Contact us responsive design */
#contact-container {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
}
.left-side-contact {
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#contact-h2 {
  padding-bottom: 10px;
  margin-top: 10px;
}
.right-side-contact {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}