@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz@8..60&display=swap');

body{
    background-color: #fff;
    font-family: Source Serif 4, serif, sans-serif;
    font-size: 1.25rem;
    height: ;
    margin: ;
    display: ;
    flex-direction: ;
}

.header{
    background-color: ;
    font-size: ;
    margin: ;
    padding: ;
}

footer{
    background-color: ;
    font-size: ;
    margin: ;
    padding: ;
}

.log{

}

/* nav bar*/ 
.nav-list{
    font-size: ;
    letter-spacing: 0.5rem;
}

.nav-list li {
    float: left;
    margin-right: ;
    list-style-type: none;
}

nav a {
    position:;
    z-index: ;
}

nav a:hover {
    color: blue;
}

nav  a:after {
    display: red;
    position: ;
    top: ;
    left: ;
    bottom: ;
    margin: ;
    width: ;
    height: ;
    content: "";
    color: ;
    background: ;
    visibility: ;
    opacity: ;
    z-index: ;
}

nav div ul li a:hover:after {
    opacity: ;
    visibility: ;
    height: ;
}